<article>
	<h1>Listing menus</h1>

	<table class="datalist">
		<thead>
		  <tr>
		    <th width="150">Title</th>
		    <th>Link</th>
		  </tr>
		</thead>

		<tbody>
		<% @menus.each do |menu|
	  	concat raw(draw_table_row(menu))

			menu.children.each do |menu|
				concat raw draw_table_row menu, 1
			end
		end %>
		</tbody>
	</table>

	<%= link_to 'New Menu', new_menu_path %>
</article>
