%section.module
	.inner
		.title
			People
		.body
			%ul.vmenu
				%li= link_to "Clients", clients_path
				%li= link_to "Companies", companies_path
				%li= link_to "Employees", employees_path
		.footer
