%section.module
	.inner
		.title Reports
		.body
			%ul.vmenu
				%li= link_to "Campaigns", campaigns_path
				%li= link_to "Sales", sales_path
				%li= link_to "Schedules", schedules_path
				%li= link_to "Reports", '#'
		.footer
