%table
	%tbody
		%tr
			%td
				%a We need to update the whisle<br/>
				Click the title for more details...
			%td{ :width => 100 }
				Bennett, Jonathan
				%br
				March 29, 2011
		%tr
			%td
				%a We need to update the whisle<br/>
				Click the title for more details...
			%td{ :width => 100 }
				Bennett, Jonathan
				%br
				March 29, 2011
		%tr
			%td
				%a We need to update the whisle<br/>
				Click the title for more details...
			%td{ :width => 100 }
				Bennett, Jonathan
				%br
				March 29, 2011
