<article>
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Date:</b>
	  <%= @schedule.date %>
	</p>


	<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
	<%= link_to 'Back', schedules_path %>
</article>