<article>
	<h1>Settings</h1>

	<fieldset>
		<legend>Types</legend>
		<ul>
			<li><%= link_to 'Campaign Types', campaign_types_path %></li>
			<li><%= link_to 'Status Types', '#' %></li>
		</ul>
	</fieldset>

	<fieldset>
		<legend>Site Layout</legend>
		<ul>
			<li><%= link_to 'Menus', menus_path %></li>
		</ul>
	</fieldset>
</article>
