/* tableviews */
.tableview.grouped {
	padding: 10px;

	.tablegroup {
		header {}
		ul {
			background: red;
			border: 1px solid black;
			border-radius: 10px;
			margin: 0 0 1em;

			li {
				border-top: 1px solid black;
				padding: 10px;

				&:hover {
					background: green;
				}

				&:first-child {
					border-top: none;
				}
			}
		}
	}
}
