.datalist {
	width: 100%;

	thead {
		tr {
			border: 1px solid #CCC;
			color: #333;
		}

		th {
			background: -moz-linear-gradient(top, #FFF, #EFEFEF);
			padding: 5px 10px;
			text-align: left;
		}
	}

	tfoot {}

	tbody {
		tr {
			border: 1px solid #eee;

			&:nth-child(2n+1) { background: #FFF; }
			&:nth-child(2n) { background: #F7F7F7; }
		}

		td { padding: 3px 5px; }
	}
}

