<div style="background: -webkit-gradient(linear, left top, right top, from(#75AE5C), color-stop(75%, #75AE5C), color-stop(80%, #2c2c2c), color-stop(81%, #AAA), to(#AAA)); height: 20px;">&nbsp;</div>

%table
	%tbody
		%tr
			%td
				Update Content
			%td
				70%
		%tr
			%td
				Mockup Site
			%td
				100%
		%tr
			%td
				Development
			%td
				80%
		%tr
			%td
				Custom Calendar
			%td
				12%
		%tr
			%td
				Twitter Feed
			%td
				78%
		%tr
			%td
				Social Network Setup
			%td
				100%
