<footer id="bottom">
	<div class="container_12 clearfix">
		<div class="grid_6">
			<nav>
				<%= render 'layouts/bottom_menu' %>
			</nav>
		</div>
		<div class="grid_6 text-right">Copyright 2011 CCI Studios</div>
	</div>
</footer>