%header#top
	.line
		#logo.unit.size1of3 CM
		.unit.size1of3.text-center
			.msg Timesheet for June 16, 2011 is past due: <a href="#">Fix Now</a>
		.unit.size1of3.lastunit.text-right
			Welcome Jonathan
