<header id="top">
	<div class="container_12 clearfix">
		<div id="logo" class="grid_4">CM</div>
		<div class="grid_4 text-center">
			<div class="msg">Timesheet for June 16 2011 is past due: <a href="#">Fix now</a></div>
		</div>
		<div class="grid_4 text-right">Welcome Jonathan</div>
	</div>
</header>