<section class="module">
	<div class="inner">
		<div class="title"></div>
		<div class="body">
			<% @menus.each do |parent| %>
				<% if parent.children.length then %>
					<ul class="vmenu">
						<% parent.children.each do |menu| %>
							<li>
								<%= link_to menu.title, eval(menu.link) %>
							</li>
						<% end %>
					</ul>
				<% end %>
			<% end %>
		</div>
		<div class="footer"></div>
	</div>
</section>

<section class="module">
	<div class="inner">
		<div class="title">Info</div>
		<div class="body">
			Projects: 3<br/>
			Account Manager: <a href="#">Brown, Heather</a><br/>
			Next Event: <a href="#">Phone call</a><br/>
		</div>
		<div class="footer">Generated on July 5, 2011 @ 9:13 am</div>
	</div>
</section>


