<ul class="hmenu">
	<li><%= link_to "Dashboard", '/dashboard' %></a></li>
	<li><%= link_to "People", "/dashboard/people" %></li>
	<li><%= link_to "Projects", "/dashboard/projects" %></li>
	<li><%= link_to "Reports", "/dashboard/reports" %></li>
</ul>
