<ul class="hmenu">
	<li><li><%= link_to "Inbox", "#" %></li></li>
	<li><%= link_to "Todos", todos_path %></li>
	<li><li><%= link_to "Settings", settings_path %></li></li>
	<li><li><%= link_to "Logout", "#" %></li></li>
</ul>