<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<link rel="stylesheet" href="/css/template.css" type="text/css" />
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>

	<meta name="viewport" content="width=720,maximum-scale=1.0" />
</head>

<body>
	<div id="wrapper">
		<div id="master"><div>
			<div class="toolbar">
				<heading>Company Manager</heading>
			</div>
			<%= render 'layouts/menu' %>
		</div></div>

		<div id="details"><div>
			<div class="toolbar">
				<heading>Clients</heading>
			</div>
			hello world
		</div></div>
	</div>
</body>
</html>
